body {
  margin: 0;
  background-color: #f4f5f4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

a {
  text-decoration: none;
}

.bg-app {
  background-color: #f4f5f4;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f4f5f4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
